<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My name is Akash & I'm currently working as a Data Science Consultant for CDM SMITH</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <a href="https://www.kaggle.com/akashram" class="btn btn-default btn-xl">Kaggle</a>
                <a href="https://www.linkedin.com/in/akash-ramkumar/" class="btn btn-default btn-xl">LinkedIn</a>
            </div>
        </div>
    </div>
</section>
